.footer{
    right: 0;
    bottom: 0;
    left: 0;
    clear: both;
    text-align: center;
}

.contact{
text-align: center;
}

.contact-cards{
    color: white;
}

.slider {
    width: 900px;
    margin: 0 auto;
  }